@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto+Condensed:wght@400;700&display=swap');
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after{
	box-sizing: border-box;
}

:root{
	font-size:16px;
	font-family:'Roboto Condensed', sans-serif;
	--white:#FFF;
	--black:#131313;
	--magenta:#D854EE;
	--indigo:#44E2E2;
	--green:#54A044;
	--bs-blue:#3178c6;
	--royal:#563d7c;
	--bs-warning:#ffc107;
	--bs-danger:#dc3545;
	--skill-list-grey:#6A6666;
	--platinum:#E5E4E2;
	--VIIIPX:.5rem;
	--XIIPX:.75rem;
	--XVIPX:1rem;
	--XXPX:1.25rem;
	--XXXIIPX:2rem;
	--secondary-font:'Oswald', sans-serif;
}

a{
	color:#FFF;
	text-decoration: none;
}

a:hover{
	cursor: pointer;
	color:var(--magenta);
}


/* ANIMATIONS */
@keyframes roll-out {
	from{
		visibility: visible;
		transform: translateX(0%);
	}

    to {
		visibility: hidden;
        transform: translateX(-100%)
    }
}

@keyframes roll-in {
	from{
		transform: translateX(-100%);
	}

    to {
        transform: translateX(0%)
    }
}

@keyframes slide-in {
	from{
		transform: translateY(1000px);
	}

    to {
        transform: translateY(0%)
    }
}

@keyframes move-up {
	from{
		transform: translateY(0);
	}

    to {
        transform: translateY(-100%)
    }
}

@keyframes move-down {
	from{
		transform: translateY(-100%);
	}

    to {
        transform: translateY(0%)
    }
}

@keyframes follow-up {
	from{
		visibility: hidden;
		transform: translateY(100%);
	}

    to {
		visibility: visible;
        transform: translateY(-300px)
    }
}

@keyframes follow-down {
	from{
		visibility: visible;
		transform: translateY(-300px);
	}

    to {
		visibility: hidden;
        transform: translateY(100%)
    }
}

/*Utility Classes*/
.hidden{ display:none;}
.show{display: block;}
.grid{display:grid;}


.secondary-font{font-family:var(--secondary-font)}
.VIIIPT{font-size: var(--VIIIPX);}
.XIIPT{font-size:var(--XIIPX);}
.XVIPT{font-size:var(--XVIPX);}
.XXPT{font-size:var(--XXPX);}
.XXXIIPT{font-size: var(--XXXIIPX);}

.medium{font-weight:500;}
.bold{font-weight:700;}
.white-text{color:var(--white)}
.black-text{color:var(--black)}
.no-stroke{-webkit-text-stroke:unset}
.thin-stroke{-webkit-text-stroke: 1px var(--black);}
.thick-stroke{-webkit-text-stroke: 2px var(--black);}

.slate-bg{background-color:var(--skill-list-grey)}

.flex{display:flex}
.flex-column{flex-direction: column;}
.flex-center{justify-content: center;}
.flex-align-center{align-items: center;}
.flex-wrap{flex-wrap: wrap;}

.grid-center-item{justify-self: center;}

.icon{
	width:2rem;
	height:2rem;
}

.--app{
	min-height:100vh;
}

.--dashboard{
	background-color:rgba(0, 0, 0, .2);
	padding:var(--XVIPX);
}

.--auth-container{
	margin-left:auto;
}

.--auth-data{
	align-self: flex-end;
}

.icon.authenticated-img{
	border-radius:50%;
	outline:1px solid var(--white);
}

.--tech-nav{
	margin-top:1rem;
}

.--tech-nav-ul{
	gap:.5rem;
}

.--tech-nav-link:hover{
	color:#FFF;
}

.--tech-nav-link li{
	padding:.5rem;
	margin:.25rem;
}

.--tech-nav-link.selected li{
	border:1px solid var(--green);
	border-radius:.935rem;
}


.--filtered-skills-list{
	gap:1rem;
	margin:2rem 2rem;
}

.--skills-container.collapsed{
	animation:roll-out 1s ease-in-out forwards;
}
.--skills-container.expanded{
	animation: roll-in 1s ease-in-out 1.5s backwards;
}

.--skill-list-item{
	width:6.25rem;
	background-color:var(--skill-list-grey);
	padding:1rem 0.25rem;
	box-shadow:0 2px 2px var(--black);
	display:flex;
	justify-content: center;
	align-items: center;
}

.--skill-list-item img{
	width:90%;
}

.--skill-list-item:hover,
.--skill-list-item:target, 
.--skill-list-item:focus,
.--skill-list-item:active,
.--skill-list-item::selection,
.--skill-list-item.selected{
	outline:3px dotted var(--indigo);
}

.--info-title{grid-area: a;}
.--info-grid-b{grid-area: b;
	display:flex;
	gap:.5rem;
}
.time{grid-area: c;}
.pop{grid-area: d;}
.version{grid-area: e;}
.projects{grid-area: f;}
.count{grid-area: g;}
.percentage{grid-area: h;}
.iteration{grid-area: i;}
.number{grid-area: j;}
.use{grid-area: k;}
.status{grid-area: l;}
.production{grid-area: m;}
.--info-caret{grid-area: n;}
.--back-btn{grid-area:o;}

.--info-container, .--project-container{
	color:white;
	
}

.--info-container{
	display:none;
	margin:6rem 1rem 0rem;
	padding:1rem 1rem;
	-webkit-text-stroke: 1px #131313;
	grid-template-rows:3rem 3rem 3rem 2rem 2rem repeat(11, 2rem) 1.5rem;
	grid-template-areas: 
	" a . . o "
	" b . . . "
	" c c c c "
	" g g g g "
	" . . . . " 
	" d d d d "
	" h h h h "
	" k k k k "
	" . . . . "
	" e e e e "
	" i i i i "
	" l l l l "
	" . . . . "
	" f f f f "
	" j j j j "
	" m m m m "
	" . . . . "
	" n n n n ";
}

.--info-container.expanded{
	display:grid;
	animation: slide-in 2s ease-in-out;
}

.--info-container.move-up{
	animation:move-up 1s ease-in-out 1s forwards
}

.--info-container.move-down{
	animation: move-down 2s ease-in-out forwards;
}

.--info-caret, .--back-btn{
	padding-top:.75rem;
	color:var(--white);
	background-color:transparent;
	outline:none;
	border:none;
	width:3em;
}

.--info-caret:hover, .--back-btn:hover{
	cursor: pointer;
}

.--caret-down, .--caret-left{
	width:100%;
}

.--info-caret:hover .--caret-down{
	box-shadow:0 2px 2px var(--black);
}

/* Projects Section */
.--project-container{
	visibility: hidden;
	margin:0rem 1rem;
}

.--project-container.expanded{
	animation:follow-up	1s ease-in-out 2s forwards;
}

.--project-container.collapsed{
	animation: follow-down 1s ease-in-out forwards;
}

.--project-card{
	gap:1rem;
	margin-top:var(--XXPX);
}

.--project-div{
	padding:1rem 1rem;
}

.--project-image-div, .--project-data-div{
	width:18rem;
}
.--project-image{
	width:100%;
}

div.bg-js{
	background-color:var(--bs-warning);
}

div.bg-royal{
	background-color:var(--royal);
}

div.bg-typescript{
	background-color:var(--bs-blue);
}

div.bg-html{
	background-color:var(--bs-danger);
}

.--progress-data{
	margin:1rem 0 1rem 1rem;
	justify-content: space-between;
	font-weight:400;
	font-family:'Roboto Condensed', sans-serif;
}

.--progress-data li::before{
	content: "\2022";
	font-weight: bold;
	display:inline-block;
	width:1rem;
	margin-left: -1rem;
}

.--progress-data li.js::before{	
	color:var(--bs-warning);
}

.--progress-data li.css::before{
	color:var(--royal);
}

.--progress-data li.html::before{
	color:var(--bs-danger);
}

.--progress-data li.ts::before{
	color:var(--bs-blue);
}

li span.--lang-percentage{
	color:var(--platinum);
	text-shadow:0 0 2px #131313;
}

.--github-div{
	justify-content: space-between;
	align-items: center;
}

.--code-fork{
	width:2.5rem;
}

@media (min-width:768px){
	.--info-container{
		grid-template-rows:3rem 3rem 3rem 2rem 2rem 4rem;
		grid-template-areas: 
	" a . . o "
	" b . . . "
	" c d e f "
	" g h i j "
	" . k l m "
	" n n n n ";
	}

	.grid-center-item:not(.--info-caret){
		justify-self: left;
	}

	.time,.pop,.version,.projects{
		padding-top:.5rem;
	}

	.--project-title{
		text-align: center;
	}

	.--project-card{
		justify-content: center;
		gap:2rem;
	}
}


